# Database
PORT=
DATABASE=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# JWT Tokens
JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=

# Job Expire Date
JOB_REPOST_DAYS_LIMIT=


# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=